<div class="container" style="padding: 4em;">
  <div class="row">

    <h4>Sell a Car</h4>
  </div>
  <div class="row">
    <h6>Enter Details</h6>
  </div>
  <hr>

  <form [formGroup]="sellCar" (ngSubmit)="submitHandler()" *ngIf="show">
    <div class="row">
      <div class="col">
        <mat-form-field class="select-width">
          <mat-label>Manufacturer</mat-label>
          <mat-select formControlName='manufacture'>
            <mat-option *ngFor="let man of manufacturer" [value]="man" >
              {{man}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class="col">
        <mat-form-field class="select-width">
          <mat-label>Condition</mat-label>
          <mat-select formControlName="cond">
            <mat-option *ngFor="let condition of conditions" [value]="condition" >
              {{condition}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class="col">
        <mat-form-field class="select-width">
          <mat-label>Cylinders</mat-label>
          <mat-select formControlName="cyl">
            <mat-option *ngFor="let cylinder of cylinders" [value]="cylinder" >
              {{cylinder}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>

    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="select-width">
          <mat-label>Fuel</mat-label>
          <mat-select formControlName="fl">
            <mat-option *ngFor="let fuel of fuelType" [value]="fuel" >
              {{fuel}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="select-width">
          <input matInput placeholder="Odometer (Miles)" formControlName="dist">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="select-width">
          <mat-label>Transmission</mat-label>
          <mat-select formControlName="transs">
            <mat-option *ngFor="let trans of transmission" [value]="trans" >
              {{trans}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <mat-form-field class="select-width">
          <mat-label>Drive</mat-label>
          <mat-select formControlName="driveType">
            <mat-option *ngFor="let drv of drive" [value]="drv" >
              {{drv}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <input matInput [matDatepicker]="dp" placeholder="Month and Year" [formControl]="date">
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)"
            (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker" >
          </mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="select-width">
          <mat-label>Type</mat-label>
          <mat-select formControlName="carType">
            <mat-option *ngFor="let type of types" [value]="type" >
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-form-field style="width: 100%">
          <textarea matInput placeholder="Description" formControlName="text"></textarea>
        </mat-form-field>
      </div>
    </div>
    <button mat-flat-button color="primary" type="submit" class="float-right" [disabled]="sellCar.invalid" >Submit</button>
  </form>

</div>
